{{#extends 'base'}}


{{#block "content"}}
   <h1>Welcome to my home page!</h1>
            <h2>I am the most interesting man in the world</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro sunt ipsam quia perferendis necessitatibus voluptas quisquam perspiciatis recusandae consectetur magni eum, at quidem placeat neque? Iste ad quam sequi est.</p>
{{/block}}

{{#block "title"}}
Home
{{/block}}

{{/extends}}